nav {
    text-transform: uppercase;
}

body {
    background-color: orange;
}

h1 {
    text-align: center;
}

img {
    width: 300px;
    margin: 30px;
    border: 5px solid black;
    border-radius: 20px;
    transition: 1s;
}

img:hover {
    transform: scale(1.3);
}

#kozepre {
    text-align: center;
}